/* 隐藏无用元素 */
#duya-header,
#matchComponent2,
#room-footer,
#match-cms-content,
#J_roomHeader,
#player-gift-wrap,
#player-ext-wrap,
#player-fullpage-right-btn,
#player-fullpage-btn,
#J_spbg,
#gift-show-btn,
#J_roomGgTop,
#player-login-guide-tip,
.mod-sidebar,
.match-top,
.match-nav,
.room-core-r,
.common-popup,
.popup-slide-in,
.gift-info-wrap,
.match-score-popup,
.pre-ab-new-wrap,
.new-reward-ab-wrap {
  display: none !important;
}

#J_mainRoom {
  background-image: none !important;
}

/* 播放器占满网页 */
#J_mainWrap,
#J_mainRoom {
  padding: 0 !important;
}

.room-core-l,
.match-room {
  margin: 0 !important;
}

.room-player-wrap {
  width: 100vw !important;
}

#root {
  height: auto !important;
}

#player-wrap,
#player-video {
  height: 100vh !important;
}

#videoContainer {
  height: calc(100vh + 60px) !important;
}

/* 网页全屏显示弹幕输入框 */
#player-full-input {
  display: flex !important;
}

/* 扫码解锁清晰度添加中划线 */
.bitrate-right-btn.common-enjoy-btn {
  text-decoration: line-through !important;
}
