/* 隐藏无用元素 */
#js-bottom-left,
#bc3,
#bc3-bgblur,
#js-player-dialog,
#js-player-above-controller,
#js-layout-fixed-buff,
#js-room-top-banner,
header,
aside,
.wm-general,
.bc-wrapper,
.RechangeJulyPopups,
.IconCardAdBoundsBox,
.MatchVoteDialog,
.bacpCommonKeFu,
.dy-Modal-wrap,
.CloseVideoPlayerAd,
.JinChanChanGame,
[class^="snapbar__"],
[class^="sidebar__"],
[class^="title__"],
[class^="interactive__"],
[class^="toggle__"] {
  display: none !important;
}

/* 播放器占满网页 */
#root,
#js-player-main {
  margin: 0 !important;
  height: 100vh !important;
}

[class^="stream__"] {
  bottom: 0 !important;
  top: 0 !important;
}

[class^="case__"],
[class^="playerWrap__"],
[class^="page__"] {
  padding: 0 !important;
}

#js-player-main::before,
[class^="player__"]::before {
  content: none !important;
}

[class^="stream__"] {
  height: 100vh !important;
}

/* 网页全屏显示弹幕输入框 */
[class^="fullScreenSendor-"] {
  display: flex !important;
}
